* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --primary-color: #00d4ff;
    --second-color: #404489;
    --roxo: #5111F3;
}

::selection {
    background: var(--roxo);
}

a {
    text-decoration: none;
}

body {
    background: #0e091b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
}

#top {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#lua {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

header img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: 5px;
    
}

header h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    cursor: default;
}

header p {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    cursor: default;
}

main, #projects {
    /* display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    max-width: 40rem;
    gap: 2rem; */
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 80% 80%;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 40rem;
    
}

main a, 
#projects a {
    height: 8rem;
    width: 40rem;
    max-width: 100%;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 1rem;
}

main a:hover, 
#projects a:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all .4s ease;
}

main 
a:first-child {
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
}

main 
a:nth-child(2) {
    background: linear-gradient(70deg, #5830bb 13%, var(--second-color) 95%);
}

main 
a:nth-child(3) {

    background: linear-gradient(
        261.65deg,
        #202225 0%,
        #2d2f31 100%
      );
}

main 
a:nth-child(4) {
    background: linear-gradient(
        90deg,
        rgb(86, 123, 246) 0%,
        rgba(47, 41, 157, 1) 100%
      );
}

#projects {
    margin-top: 25px;
}

#projects a {
    background: linear-gradient(
        261.65deg,
        #34064e 0%,
        #361980 100%
      );
}

h2 {
    font-size: 23px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: 25px;
}

.darkMode {
    background: #0e091b;;
    color: white;
    transition: 600ms ease;
}

.lightMode {
    background: #fff;
    color: #3000;
    transition: 600ms ease;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    main, 
    #projects {
        display: flex;
        flex-direction: column;
        max-width: 60rem;
    }

    main a, 
    #projects a {
        height: 95px;
        gap: 2.5rem;
        width: 100%;
    }
}